@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --accent-color1: #ABA361;
    --accent-color2: #994636;
    --background-color: #F4D58D;
    --header-color: #62929E;
    --text-color1: black;
    --text-color2: white;
}

#content {
    font-family: merriweather, lato, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color1);
    overflow-x: hidden;
}

#movie-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    text-align: center;
    background-color: var(--accent-color2);
    padding: 20px;
}

#movie-info p {
    padding: 15px;
    background-color: var(--background-color);
    border: ridge;
    border-width: 6px;
    border-radius: 5px;
    border-color: var(--accent-color1);
    margin: 15px;
}

#movie-info img {
    margin: 0 auto;
    display: block;
}

#movie-info p:nth-child(1) {
    grid-row: 1;
}

#movie-info img:nth-child(1) {
    grid-row: 2;
}

#movie-info p:nth-child(2) {
    grid-row: 3;
}

#movie-info img:nth-child(2) {
    grid-row: 4;
}

#movie-info p:nth-child(3) {
    grid-row: 5;
}

#movie-info img:nth-child(3) {
    grid-row: 6;
}

#movie-quotes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 50%));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    background-color: var(--accent-color1);
}

#movie-quotes p:nth-child(1),
img:nth-child(1) {
    grid-row: 1;
}

#movie-quotes p:nth-child(2),
img:nth-child(2) {
    grid-row: 2;
}

#movie-quotes p:nth-child(3),
img:nth-child(3) {
    grid-row: 3;
}

#movie-quotes p:nth-child(4),
img:nth-child(4) {
    grid-row: 4;
}

#movie-quotes p:nth-child(5),
img:nth-child(5) {
    grid-row: 5;
}

#movie-quotes p:nth-child(6),
img:nth-child(6) {
    grid-row: 6;
}

#movie-quotes p:nth-child(7),
img:nth-child(7) {
    grid-row: 7;
}

#movie-quotes p:nth-child(8),
img:nth-child(8) {
    grid-row: 8;
}

#movie-quotes p:nth-child(9),
img:nth-child(9) {
    grid-row: 9;
}

#movie-quotes p:nth-child(10),
img:nth-child(10) {
    grid-row: 10;
}

#movie-quotes p:nth-child(11),
img:nth-child(11) {
    grid-row: 11;
}

#movie-quotes p:nth-child(12),
img:nth-child(12) {
    grid-row: 12;
}

#movie-quotes p {
    grid-column: 1;
    padding: 25px;
    background-color: var(--background-color);
    border: ridge;
    border-width: 6px;
    border-radius: 5px;
    border-color: var(--accent-color2);
    align-self: center;
    margin-left: 20px;
}

#movie-quotes img {
    grid-column: 2;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    display: block;
}

main h2 {
    text-align: center;
    padding: 20px;
    color: var(--text-color2);
    background-image: url(../images/lotr_wallpaper_1.jpg);
    margin: 0;
}

#characters p {
    text-align: center;
    padding: 20px;
    border: ridge;
    border-width: 6px;
    border-radius: 5px;
    border-color: var(--accent-color1);
    font-weight: bold;
    margin: 20px;
    background-color: var(--header-color);
}

footer,
header {
    text-align: center;
    border: ridge;
    color: var(--white);
    border-color: var(--accent-color1);
    border-width: 6px;
    background-color: var(--header-color);

}

nav ul {
    padding-inline-start: 0px;
    list-style-type: none;
    display: none;
}

nav a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
    outline: none;
    font-weight: bold;
    font-size: .9em;
}

nav a:hover {
    text-decoration: underline;
}

#menu {
    cursor: pointer;
    background-color: var(--accent-color1);
    color: var(--black);
    font-size: 16px;
    border-radius: 7px;
    border: outset;
    background-image: linear-gradient(#eee, #fff);
    width: 50%;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    max-width: 200px;
    padding: 5px;
}

#menu:hover {
    background-color: var(--accent-color3);
    background-image: linear-gradient(#bbb, #ccc);
}

#menu::before {
    content: "Open";
}

#menu.open::before {
    content: "Close";
}

nav ul.open {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#hero-image {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    border: ridge;
    border-width: 10px;
    padding: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--accent-color2);
    max-width: auto-fit;
}

.hero {
    display: grid;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: var(--text-color1);
}

a:hover {
    text-decoration: underline;
}