@media screen and (min-width: 1000px) {

    #movie-info {
        grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    }

    #movie-info img {
        grid-column: 2;
        padding: 20px;
    }

    #movie-info img:nth-child(1) {
        grid-row: 1
    }

    #movie-info img:nth-child(2) {
        grid-row: 2
    }

    #movie-info img:nth-child(3) {
        grid-row: 3
    }

    #movie-info p {
        grid-column: 1;
        max-width: 80%;
        margin: 55px;
    }

    #movie-quotes-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    }

    .movie-heading {
        padding: 55px;
    }

    .quotes-heading {
        grid-column: 1/5;
        grid-row: 1;
        align-content: center;
    }

    .character-heading {
        display: none;
    }

    #movie-quotes {
        grid-column: 1/3;
        grid-row: 2;
    }

    #characters {
        grid-column: 3/5;
        grid-row: 2;
        background-color: var(--accent-color1);
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
    }

    #characters p:nth-child(10) {
        grid-row: 1;
    }

    #characters p:nth-child(3) {
        grid-row: 2;
    }

    #characters p:nth-child(7) {
        grid-row: 3;
    }

    #characters p:nth-child(6) {
        grid-row: 4;
    }

    #characters p:nth-child(8) {
        grid-row: 5;
    }

    #characters p:nth-child(5) {
        grid-row: 6;
    }

    #characters p:nth-child(2) {
        grid-row: 7;
    }

    #characters p:nth-child(4) {
        grid-row: 8;
    }

    #characters p:nth-child(11) {
        grid-row: 9;
    }

    #characters p:nth-child(1) {
        grid-row: 10;
    }

    #characters p:nth-child(12) {
        grid-row: 11;
    }

    #characters p:nth-child(9) {
        grid-row: 12;
        margin-bottom: 20px;
    }

    #characters p {
        margin-left: 0;
        margin-bottom: 0;
    }
}